name: ci

on:
  push:
    branches:
      - main
  pull_request:

env:
    CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: sudo apt update && sudo apt install xorg
      - run: rustup toolchain install stable --profile minimal
      - uses: Swatinem/rust-cache@v2
      - name: Check format
        run: cargo fmt --check
      - name: Check lint
        run: cargo clippy --locked -- -D warnings
