name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: bwrc
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: Cargo clippy
        env:
          CARGO_TERM_COLOR: always
          CARGO_INCREMENTAL: 1
        run: cargo clippy --locked -- -D warnings
